<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Expresso Delight. Waste time cause I don't really know what I'm doing but now trying to understand but need to reset focus.</title>
</head>
<body>
<h1>This page shows alll</h1>

    <%- body%>
    
    <p>I can't seem to add restaurants and I'm confused as to why.... So sorry I couldn't finish the homework...</p>
</body>
</html>